<mjml>
    <mj-head>
        <mj-title>Candidature de <%= data.applicant_email %></mj-title>
        <mj-font name="Inter" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'" />
        <mj-style inline="inline">
            a:link,a:visited, a:hover, a:active {color: #206BC4;}, a {color: #3A55D1;}, body{background: #F9F8F6;}
            a.purple {color: #3A55D1; text-decoration: none}
            .link-nostyle { color: inherit; text-decoration: none; font-size: 28px }
            .link-nostyle:hover { color: inherit; text-decoration: none }
            .form-row { font-size: 16px; padding-bottom: 15px;}
            .form-value { background: #F9F8F6; font-weight: bold; padding: 3px 15px  }
            .nom-societe { font-size: 14px; color: #F07F87; font-weight: bold; }
            .link-black { color: #000; text-decoration: underline; }
            .link-black:hover { color: #000; text-decoration: underline; }
            
            .intention-link:hover td, 
            .intention-link:hover a { 
                background-color: #000091 !important; 
                color: #fff !important; 
            }

        </mj-style>
        <mj-attributes>
            <mj-text padding="0px" color="#232E3C" font-family="Inter,sans-serif" font-size="14px" line-height="23px" />
            <mj-divider padding="0px" />
        </mj-attributes>
    </mj-head>
    <mj-body background-color="#EDF0F2">
        <mj-section padding-bottom="10px">
            <mj-column padding="0px" vertical-align="middle">
                <mj-image padding="0px" width="150px" src="<%= data.images.logo %>" alt="Logo du site La Bonne Alternance" />
            </mj-column>
        </mj-section>

        <mj-wrapper background-color="#ffffff" padding="10px 0 20px" border-radius="10px">
            <mj-section padding="15px">
                <mj-column>
                    <mj-text padding-bottom="32px" font-size="18px" padding="0px" font-weight="700" line-height="24px" text-decoration="none" color="#383838">
                        Vous avez reçu une nouvelle candidature !
                    </mj-text>
                    <mj-text font-size="14px" line-height="24px">
                        
                        <% if (data.company_type === "lba" || data.company_type === "lbb" ) { %>
                            Bonjour, <br /><br >
                            Voici les informations d’un candidat qui aimerait réaliser son alternance dans votre entreprise <span class="nom-societe"><%= data.company_name %></span> :
                        <% } %>
                        
                        <% if (data.company_type == "matcha") { %>
                            Bonjour, <br /><br >
                            Un candidat s'intéresse à votre établissement et a postulé à l'offre sur le métier <%= data.job_title %> que vous avez déposée sur <span class="nom-societe">Matcha</span>, 
                            qui est visible sur le site <a style="font-weight:bold; color:black" href="https://labonnealternance.pole-emploi.fr/?utm_source=jecandidate&utm_medium=email&utm_campaign=jecandidaterecruteur ">La Bonne Alternance</a>. 
                            <br /><br />Retrouvez ci-dessous sa candidature. 
                        <% } %>

                    </mj-text>
                </mj-column>
            </mj-section>
        </mj-wrapper>

        <mj-section padding-bottom="30px"></mj-section>
        <mj-wrapper background-color="#ffffff" padding="10px 0 20px" border-radius="10px">
            <mj-section>
                <mj-column width="420px">
                    <mj-text padding-bottom="32px" font-size="24px" padding="0px" font-weight="700" line-height="24px" text-decoration="none" color="#F07F87">
                        <img style="margin-bottom: 2px" src="<%= data.images.icoCandidat %>" alt="" />&nbsp;&nbsp;Candidat
                    </mj-text>
                    <mj-text font-size="16px" padding-bottom="15px" >Nom : <span class="form-value"> <%= data.applicant_last_name %> </span> </mj-text>
                    <mj-text font-size="16px" padding-bottom="15px">Prénom : <span class="form-value"> <%= data.applicant_first_name %> </span> </mj-text>
                    <mj-text font-size="16px" padding-bottom="15px">Téléphone : <span class="form-value"> <%= data.applicant_phone %> </span> </mj-text>
                    <mj-text font-size="16px" padding-bottom="15px">E-mail : <span class="form-value"> <%= data.applicant_email %> </span> </mj-text>
                    <mj-text font-size="13px" padding-bottom="15px"><img style="margin-bottom: -3px; margin-right:3px" src="<%= data.images.icoInfo %>" alt="" />&nbsp;&nbsp;Vous trouverez le curriculum vitae du candidat en pièce jointe.</mj-text>
                    <mj-text font-size="16px" padding-bottom="15px">Message du candidat : </mj-text>
                    <mj-text font-size="16px" padding-bottom="15px"><div class="form-value" width="100%"> <%- data.message %> </div> </mj-text>
                </mj-column>
            </mj-section>
        </mj-wrapper>

        <mj-section padding-bottom="30px"></mj-section>
        <mj-wrapper background-color="#FDF2F3" padding="10px 0 5px" border-radius="10px">
            <mj-section padding="15px">
                <mj-column align="left">
                    <mj-text padding-bottom="32px" font-size="18px" padding="0px" font-weight="700" line-height="24px" text-decoration="none" color="#383838">
                        Que comptez vous faire ?
                    </mj-text>
                    
                    <mj-button href="<%= data.publicUrl %>/formulaire-intention?intention=entretien&id=<%= data.id %>&iv=<%= data.iv %>&fn=<%= data.applicant_first_name %>&ln=<%= data.applicant_last_name %>&utm_source=jecandidate&utm_medium=email&utm_campaign=jecandidatecandidat" 
                        css-class="intention-link" 
                        width="250px" 
                        border-radius="12px"
                        border-color="#000091"                     
                        color="#000091" 
                        font-size="14px"
                        align="left"
                        background-color="#FDF2F3" 
                        border="1px solid #000091"><img src="<%= data.images.recrute %>" alt="" style="margin-right:5px;" />&nbsp;Rencontrer le candidat</mj-button>

                    <mj-button href="<%= data.publicUrl %>/formulaire-intention?intention=ne_sais_pas&id=<%= data.id %>&iv=<%= data.iv %>&fn=<%= data.applicant_first_name %>&ln=<%= data.applicant_last_name %>&utm_source=jecandidate&utm_medium=email&utm_campaign=jecandidatecandidat" 
                        css-class="intention-link" 
                        width="250px" 
                        border-radius="12px"
                        border-color="#000091"                     
                        color="#000091" 
                        font-size="14px"
                        align="left"
                        background-color="#FDF2F3" 
                        border="1px solid #000091"><img src="<%= data.images.nspp %>" alt="" style="margin-right:5px;" />&nbsp;En attente de décision</mj-button>
                    
                    <mj-button href="<%= data.publicUrl %>/formulaire-intention?intention=refus&id=<%= data.id %>&iv=<%= data.iv %>&fn=<%= data.applicant_first_name %>&ln=<%= data.applicant_last_name %>&utm_source=jecandidate&utm_medium=email&utm_campaign=jecandidatecandidat" 
                        css-class="intention-link" 
                        width="250px" 
                        border-radius="12px"
                        border-color="#000091"                     
                        color="#000091" 
                        font-size="14px"
                        align="left"
                        background-color="#FDF2F3" 
                        border="1px solid #000091"><img src="<%= data.images.recrutePas %>" alt="" style="margin-right:5px;" />&nbsp;Candidature refusée</mj-button>
                </mj-column>
            </mj-section>
        </mj-wrapper>

        <mj-section padding-bottom="30px"></mj-section>
        <mj-wrapper background-color="#ffffff" padding="10px 0 20px" border-radius="10px">
            <mj-section>
                <mj-column>
                    <mj-table line-height="100%">
                    <tr>
                    <td valign="top" style="padding-top:5px;"><img style="width:120px; height:48px;" src="<%= data.images.logo %>" alt="Logo du site La Bonne Alternance" /></td>
                    <td valign="top" style="line-height: 22px; padding-left: 40px; padding-top:0;">
                        Vous recevez cette candidature car votre établissement est visible sur <a style="font-weight:bold; color:black" href="https://labonnealternance.pole-emploi.fr/?utm_source=jecandidate&utm_medium=email&utm_campaign=jecandidaterecruteur ">La Bonne Alternance</a>,
                        un site web conçu par Pôle emploi et porté par le Ministère de l’éducation nationale, de l’enseignement supérieur, du travail et de la transformation publique.

                        <br /><br />
                        Rendez-vous sur <a style="font-weight:bold; color:black" href="https://labonnealternance.pole-emploi.fr/acces-recruteur?utm_source=jecandidate&utm_medium=email&utm_campaign=jecandidaterecruteur">La Bonne Alternance</a> pour : 
                        <ul>
                            <li>savoir comment votre établissement a été détecté comme étant susceptible de recruter en alternance</li>
                            <li>demander la modification de vos coordonnées de contact pour que les candidatures vous parviennent à un endroit plus adapté</li>
                            <li>demander la suppression de votre établissement du site (et ne plus recevoir de candidature)</li>
                            <li>enregistrer une offre d’emploi en alternance en moins de 5 minutes</li>
                            <li>nous contacter</li>
                        </ul>
                    </tr>
                    </mj-table>
                </mj-column>
            </mj-section>
        </mj-wrapper>

        <mj-section padding-bottom="30px"></mj-section>
        <mj-wrapper background-color="#ffffff" padding="10px 0 20px" border-radius="10px">
            <mj-section padding="15px">
                <mj-column>
                    <mj-text padding-bottom="32px" font-size="18px" padding="0px" font-weight="700" line-height="24px" text-decoration="none" color="#383838">
                        <span style="font-weight: bold">Une question ?</span>
                    </mj-text>
                    <mj-text font-size="16px" line-height="28px" padding-bottom="15px">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img style="margin-bottom: -5px; margin-right:3px" src="<%= data.images.enveloppe %>" alt="" />&nbsp;&nbsp;<a class="link-black" href="https://labonnealternance.pole-emploi.fr/contact?utm_source=jecandidate&utm_medium=email&utm_campaign=jecandidatecandidat">Je souhaite contacter l’équipe support de La Bonne Alternance</a>                                        
                    </mj-text>
                    <mj-text font-size="16px" line-height="28px" padding-bottom="15px">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img style="margin-bottom: -5px; margin-right:3px;" src="<%= data.images.edit %>" alt="" />&nbsp;&nbsp;<a class="link-black" href="https://labonnealternance.pole-emploi.fr/acces-recruteur?utm_source=jecandidate&utm_medium=email&utm_campaign=jecandidatecandidat">Je souhaite modifier les informations de mon entreprise</a>                                        
                    </mj-text>
                    <mj-text font-size="16px" line-height="28px" padding-bottom="15px">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img style="margin-bottom: -5px; margin-right:3px" src="<%= data.images.bin %>" alt="" />&nbsp;&nbsp;<a class="link-black" href="https://labonnealternance.pole-emploi.fr/acces-recruteur?utm_source=jecandidate&utm_medium=email&utm_campaign=jecandidatecandidat">Je ne souhaite plus être visible sur La Bonne Alternance</a>                                        
                    </mj-text>
                </mj-column>
            </mj-section>
        </mj-wrapper>

        <mj-wrapper padding="0px" border-radius="10px" padding-bottom="50px">
            <mj-section>
                <mj-column>
                    <mj-table line-height="100%">
                    <tr>
                    <td valign="top" style="padding-top:5px;"><img width="89" height="auto" src="<%= data.images.logoRF %>" alt="Logo République française" /></td>
                    <td valign="top" style="line-height: 22px; padding-left: 40px; padding-top:0;">Cet e-mail a été envoyé à <%= data.company_email %>
                        <br />
                        Vous avez reçu ce mail car votre établissement a été identifié comme étant susceptible de recruter en alternance
                        <br />
                        Pour vous désinscrire, <a style="font-weight:bold; text-decoration: underline; color:black" href="https://labonnealternance.pole-emploi.fr/acces-recruteur?utm_source=jecandidate&utm_medium=email&utm_campaign=jecandidaterecruteur">cliquez ici</a></td>
                    </tr>
                    </mj-table>
                </mj-column>
            </mj-section>
        </mj-wrapper>
    </mj-body>
</mjml>
