<mjml>
    <mj-head>
        <mj-title>Candidature de <%= data.applicant_email %></mj-title>
        <mj-font name="Inter" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'" />
        <mj-style inline="inline">
            a:link,a:visited, a:hover, a:active {color: #206BC4;}, a {color: #3A55D1;}, body{background: #F9F8F6;}
            a.purple {color: #3A55D1; text-decoration: none}
            .link-nostyle { color: inherit; text-decoration: none; font-size: 28px }
            .link-nostyle:hover { color: inherit; text-decoration: none }
            .form-row { font-size: 16px; padding-bottom: 15px;}
            .form-value { background: #F9F8F6; font-weight: bold; padding: 3px 15px  }
        </mj-style>
        <mj-attributes>
            <mj-text padding="0px" color="#232E3C" font-family="Inter,sans-serif" font-size="14px" line-height="23px" />
            <mj-divider padding="0px" />
        </mj-attributes>
    </mj-head>
    <mj-body background-color="#EDF0F2">
        <mj-section padding-bottom="10px">
            <mj-column padding="0px" vertical-align="middle">
                <mj-image padding="0px" width="150px" src="<%= data.images.logo %>" alt="Logo du site La Bonne Alternance" />
            </mj-column>
        </mj-section>

        <mj-wrapper background-color="#ffffff" padding="0px" border-radius="10px" padding-bottom="50px">
            <mj-section padding="15px">
                <mj-column>
                    <mj-text padding-bottom="32px" font-size="18px" padding="0px" font-weight="700" line-height="24px" text-decoration="none" color="#383838">
                        Vous avez reçu une nouvelle candidature ! 
                    </mj-text>
                    <mj-text font-size="14px" line-height="24px">
                        Bonjour, <br /><br >
                        Un candidat s'intéresse à votre entreprise et a postulé spontanément à partir du site <a style="font-weight:bold; color:black" href="https://labonnealternance.pole-emploi.fr">La Bonne Alternance</a>.
                        <br /><br />
                        Votre enterprise a été identifiée par notre algorithme comme entreprise recrutant régulièrement des alternants.
                        <br /><br />
                        Retrouvez ci-dessous sa candidature.
                    </mj-text>
                </mj-column>
            </mj-section>
        </mj-wrapper>

        <mj-section padding-bottom="30px"></mj-section>
        <mj-wrapper background-color="#ffffff" padding="0px" border-radius="10px" padding-bottom="50px">
            <mj-section>
                <mj-column width="420px">
                    <mj-text padding-bottom="32px" font-size="24px" padding="0px" font-weight="700" line-height="24px" text-decoration="none" color="#F07F87">
                        Candidat
                    </mj-text>
                    <mj-text font-size="16px" padding-bottom="15px" >Nom : <span class="form-value"> <%= data.applicant_last_name %> </span> </mj-text>
                    <mj-text font-size="16px" padding-bottom="15px">Prénom : <span class="form-value"> <%= data.applicant_first_name %> </span> </mj-text>
                    <mj-text font-size="16px" padding-bottom="15px">Téléphone : <span class="form-value"> <%= data.applicant_phone %> </span> </mj-text>
                    <mj-text font-size="16px" padding-bottom="15px">E-mail : <span class="form-value"> <%= data.applicant_email %> </span> </mj-text>
                    <mj-text font-size="13px" padding-bottom="15px">Vous trouverez le curriculum vitae du candidat en pièce jointe.</mj-text>
                    <mj-text font-size="16px" padding-bottom="15px">Message du candidat : </mj-text>
                    <mj-text font-size="16px" padding-bottom="15px"><span class="form-value" width="100%"> <%= data.message %> </span> </mj-text>
                </mj-column>
            </mj-section>
        </mj-wrapper>

        <mj-section padding-bottom="30px"></mj-section>
        
        <mj-wrapper background-color="#ffffff" padding="0px" border-radius="10px" padding-bottom="50px">
            <mj-section>
                <mj-column>
                    <mj-table>
                    <tr>
                    <td valign="top"><img style="width:120px; height:48px; margin-right:20px;" src="<%= data.images.logo %>" alt="Logo du site La Bonne Alternance" /></td>
                    <td valign="top">Créé en avril 2018 par des conseillers Pôle emploi, le service <strong>La Bonne Alternance</strong> est désormais porté par le ministère de l'éducation, de l'enseignement supérieur, du travail et de la transformation numérique.
                        <br /><br />
                        <strong>La Bonne Alternance</strong> centralise l'offre de formation et d'emploi en alternance.
                        <br /><br />
                        Pour identifier les emplois en alternance, le service agrège les offres recueillies par Pôle emploi et ses partenaires, par <a style="font-weight:bold; color:black">Matcha</a> ainsi que les entreprises identifiées comme recrutant régulièrement des alternants par notre algorithme prédictif, comme c'est le cas de votre entreprise.
                        <br /><br />
                        Cet algorithme analyse les recrutements en CDI, CDD de plus de 30 jours, Apprentissage et Professionnalisation des 6 dernières années, et prédit
                        ainsi ceux des 6 mois à venir.</td>
                    </tr>
                    </mj-table>
                </mj-column>
            </mj-section>
        </mj-wrapper>

        <mj-wrapper padding="0px" border-radius="10px" padding-bottom="50px">
            <mj-section>
                <mj-column>
                    <mj-table>
                    <tr>
                    <td valign="top"><img width="120" height="auto" style="margin-right:20px;" src="<%= data.images.logoRF %>" alt="Logo République française" /></td>
                    <td valign="top">Cet e-mail a été envoyé à <%= data.company_email %>
                        <br />
                        Vous avez reçu ce mail car votre entreprise a été identifiée comme étant susceptible de recruter en alternance
                        <br />
                        Pour vous désinscrire, <a style="font-weight:bold; text-decoration: underline; color:black" href="https://labonnealternance.pole-emploi.fr/acces-recruteur">cliquez ici</a></td>
                    </tr>
                    </mj-table>
                </mj-column>
            </mj-section>
        </mj-wrapper>
    </mj-body>
</mjml>